body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  overflow-x: hidden;
}
#loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  flex-direction: column;
}
#loading-screen img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1;
}
.overlay-text {
  font-size: 8.5em;
  font-family: 'Inside Out', sans-serif;
  color: white;
  text-align: center;
  font-weight: bold;
  z-index: 3;
  position: relative;
  top: -300px;
  margin: 0;
  text-shadow: 
    0 0 5px #d9e6fa,
    0 0 20px #d9e6fa,
    0 0 30px #d9e6fa,
    0 0 40px #d9e6fa;
}
@media only screen and (max-width: 768px) {
  .overlay-text {
    font-size: 6em;
    top: -175px;
    text-shadow: 
    0 0 5px #d9e6fa,
    0 0 20px #d9e6fa,
    0 0 30px #d9e6fa,
    0 0 40px #d9e6fa;
  }
}
#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.invitation-card {
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.titulo {
  font-size: 2.5em;
  font-family: 'Inside Out', sans-serif;
  color: #333;
}
.invitation-details {
  font-size: 1.2em;
  margin: 20px 0;
  color: #555;
}
#enter-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 3px solid #FFD700;
  color: black;
  font-size: 20px;
  padding: 10px 20px;
  margin: 20px auto;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.3s ease;
  font-family: 'Inside Out', sans-serif;
}
#enter-button i {
  font-size: 70px;
  margin-top: 5px;
  transition: transform 0.3s ease;
  animation: blink 1.5s infinite;
}
#enter-button:hover i {
  transform: scale(1.2);
}
.menu-button {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #FFD700;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  border-radius: 5px;
  width: 100%;
}
.menu-button:hover {
  background-color: #FFB700;
}
.section {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 90vw;
  max-width: 600px; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
form {
  display: flex;
  flex-direction: column;
}
form label {
  margin-bottom: 14px;
  font-size: 1.1em;
  margin-right: 10px;
}
form input {
  padding: 8px;
  margin-bottom: 15px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 70%;
  box-sizing: border-box;
}
form button {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #FFD700;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}
form button:hover {
  background-color: #FFB700;
}
.song-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.song-input input {
  margin-left: 10px; 
  flex-grow: 1; 
}
#add-song-icon {
  cursor: pointer;
  font-size: 20px;
  color: #FFD700;
  margin-left: 10px;
  border: 2px solid #FFD700;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 16px;
}
#add-song-icon:hover {
  color: #FFB700;
}
.song-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.song-container label {
  font-size: 1.2em;
  margin-right: 10px; 
}
.song-container input {
  width: 60%; 
  padding: 8px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  box-sizing: border-box;
}
.nombres {
  font-size: 3.5em;
  font-family: 'Inside Out', sans-serif;
}
/* Animación de parpadeo */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0; 
  }
  100% {
    opacity: 1; 
  }
}
.mapouter {
  position: relative;
  text-align: right;
  height: 100%; 
  width: 100%; 
}

.gmap_canvas iframe {
  width: 100%; 
  height: 100%; 
  border: 0; 
}

.titulosection{
  font-family: 'Inside Out', sans-serif;
   text-align: center;
  }
.finca{
  height: 100%;
  width: 100%;
  object-fit: cover;
  }
